{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# day to day driver deps
brew "gnupg"
brew "zsh"
brew "starship"
brew "tmux"
brew "emacs"
brew "neovim"
# for tmux copy and paste
brew "reattach-to-user-namespace"
# file finder
brew "fd"
brew "fzf"
brew "exa"
# replacement for cat
brew "bat"
# markdown preview
brew "glow"
# autojump written in Go
brew "jump"
# terminal file browser
brew "nnn"
# github cli
brew "gh"
brew "git-delta"
# language specific libs
## Postgres
brew "libpq"
## JavaScript
brew "node"
brew "fnm"
# Experimental stuff
brew "slides"
# brew "bloomrpc"
brew "grpc"
brew "protobuf"
tap "bufbuild/buf"
brew "buf"
brew "aws-vault"
brew "k9s"
brew "act"
# Language spell checking
brew "ispell"
# Rust stuff
brew "rust-analyzer"
EOF

brew link --force libpq

# curl -Ls https://raw.githubusercontent.com/jarun/nnn/master/plugins/getplugs | sh
# sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{ end -}}
