{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "reattach-to-user-namespace"
brew "fzf"
brew "neovim", args: ['HEAD']
brew "tmux"
brew "zsh"
brew "gnupg"
brew "gh"
brew "starship"
brew "fd"
brew "git-delta"
brew "libpq"
brew "node"
brew "fnm"
EOF

brew link --force libpq

npm install -g yarn typescript typescript-language-server
{{ end -}}
